<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- will scan the mentioned packages for annotated beans -->
	<context:component-scan base-package="com.spring.controller"/>
	<context:component-scan base-package="com.spring.service"/>
	<context:component-scan base-package="com.spring.dao"/>
	
	<mvc:annotation-driven />
	
	<!-- maps the static resources(e.g. js, css, html etc) to a path else static resources can not be used -->
	<!-- <mvc:resources mapping="/resources/**" location="/WEB-INF/views/" /> -->
	
	<!-- This is used to redirect all the request coming to this dispatcher servlet to the default servlet, 
	should be placed in "LAST" so that the request which are going for controller reaches controller and requests 
	for static resources will go to default servlet, replaces the <mvc:resources /> -->
	<mvc:default-servlet-handler />
	
</beans>