<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- specifies the Web application display name, a short name that can be 
		displayed by GUI tools. -->
	<display-name>Spring MVC App</display-name>

	<!-- defining a servlet dispatcher which will handle all the requests(requests 
		matching "Servlet Mapping") coming to the servlet container -->
	<servlet>
		<servlet-name>SpringController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- instance variable of "org.springframework.web.servlet.DispatcherServlet" 
				class. Class will find the servlet xml file on this location -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<!-- tells the servlet container to load this servlet as soon as the container 
			starts -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- redirecting the urls which matches "url-pattern" to the servlet having 
		"servlet-name" -->
	<servlet-mapping>
		<servlet-name>SpringController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

</web-app>